@{
    ViewBag.Title = "Home Page";
}

<br/>
<br/>
<div class="row">

    <div class="col-md-8">
        <div class="jumbotron" style="background-color: cadetblue">
            <h1>Deploy to AWS EC2 Instance.. DEMO</h1>
            <p class="lead">Deploy an ASP.NET MVC application from Azure DevOps to AWS EC2 using AWS CodeDeploy</p>
        </div>
    </div>
    <div class="col-md-4">
        <div class="jumbotron">
            <label>UserName:</label><input class="form-control"
                                                    id="UserName"
                                                    name="UserName"
                                                    type="text"
                                                    value="" />
            <label>Password:</label><input class="form-control"
                                           id="Password"
                                           name="Password"
                                           type="password"
                                           value="" />
            <br/>
            <p><a href="https://asp.net" class="btn btn-primary btn-lg">Login Here</a></p>
        </div>
    </div>
</div>
